<button onclick="scriptCall()" id="scriptCall" style="display: none"></button>
<button onclick="singleListingMap()" id="loadMap" style="display: none"></button>
<div class="contact-map margin-bottom-60">
	<div id="singleListingMap-container">
		<div id="singleListingMap" attr.data-latitude="{{site?.latitude}}" attr.data-longitude="{{site?.longitude}}" data-map-icon="im im-icon-Map2"></div>
	</div>
	<div class="address-box-container">
		<div class="address-container" data-background-image="assets/images/our-office.jpg">
			<div class="office-address">
				<h3>Our Office</h3>
				<ul>
					<li *ngFor="let adresse of site?.adresse" >{{adresse}}</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h4 class="headline margin-bottom-30">Find Us There</h4>
			<div class="sidebar-textbox">
				<p>Collaboratively administrate channels whereas virtual. Objectively seize scalable metrics whereas proactive e-services.</p>
				<ul class="contact-details">
					<li><i class="im im-icon-Phone-2"></i> <strong>Phone:</strong> <span>{{site?.phone}} </span></li>
					<li><i class="im im-icon-Fax"></i> <strong>Fax:</strong> <span>{{site?.fax}} </span></li>
					<li><i class="im im-icon-Globe"></i> <strong>Web:</strong> <span><a href="#">{{site?.website}}</a></span></li>
					<li><i class="im im-icon-Envelope"></i> <strong>E-Mail:</strong> <span><a href="#"><span class="__cf_email__" data-cfemail="036c65656a606643667b626e736f662d606c6e">{{site?.email}}</span></a></span></li>
				</ul>
			</div>
		</div>
		<div class="col-md-8">
			<section id="contact">
				<h4 class="headline margin-bottom-35">Contact Form</h4>
				<div id="contact-message" *ngIf="isSuccess" >
                    Your message has been sent.
                </div> 
					<form method="post" [formGroup]="contactUsForm" (ngSubmit)="contactUs()" name="contactform" id="contactform" autocomplete="on">
					<div class="row">
						<div class="col-md-6">
                            <span class="error" *ngIf="contactUsName.invalid && !!contactUsName.errors.required && (contactUsName.dirty || contactUsName.touched)">Name is required.</span>
							<div>
								<input name="name" type="text" id="name" placeholder="Your Name" formControlName="contactUsName"/>
							</div>
						</div>
						<div class="col-md-6">
                            <span class="error" *ngIf="contactUsEmail.invalid && !!contactUsEmail.errors.required && (contactUsEmail.dirty || contactUsEmail.touched)">Email is required.</span>
                            <span class="error" *ngIf="contactUsEmail.invalid && !!contactUsEmail.errors.pattern && (contactUsEmail.dirty || contactUsEmail.touched)">Invalid email.</span>
                            <div>
								<input name="email" type="email" id="email" placeholder="Email Address" formControlName="contactUsEmail"/>
							</div>
						</div>
					</div>
					<div>
                        <span class="error" *ngIf="contactUsSubject.invalid && !!contactUsSubject.errors.required && (contactUsSubject.dirty || contactUsSubject.touched)">Subject is required.</span>
						<input name="subject" type="text" id="subject" placeholder="Subject" formControlName="contactUsSubject"/>
					</div>
					<div>
                        <span class="error" *ngIf="contactUsMessage.invalid && !!contactUsMessage.errors.required && (contactUsMessage.dirty || contactUsMessage.touched)">Message is required.</span>
						<textarea name="comments" cols="40" rows="3" id="comments" placeholder="Message" spellcheck="true" formControlName="contactUsMessage"></textarea>
					</div>
					<input type="submit" class="submit button" id="submit" value="Submit Message" />
					</form>
			</section>
		</div>
	</div>
</div>
