<button onclick="scriptCall()" id="scriptCall" style="display: none"></button>
<div id="titlebar" class="gradient">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Listings</h2>
                <span>Grid Layout With Sidebar</span>
                <nav id="breadcrumbs">
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>Listings</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-8 padding-right-30">
            <div class="row margin-bottom-25">
                <div class="col-md-6 col-xs-6">
                    <div class="layout-switcher">
                        <a class="grid" [ngClass]="{'active': listingGrid}" (click)="listingGrid = true; listingList = false">
                            <i class="fa fa-th"></i>
                        </a>
                        <a class="list" [ngClass]="{'active': listingList}" (click)="listingGrid = false; listingList = true">
                            <i class="fa fa-align-justify"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="sort-by">
                        <div class="sort-by-select">
                            <div id="choosenOrder" class="chosen-container chosen-container-single chosen-container-single-nosearch chosen-with-drop"
                                (click)="doOrder()" style="width: 100%;" title="">
                                <a class="chosen-single">
                                    <span>{{choosenOrder}}</span>
                                    <div>
                                        <b></b>
                                    </div>
                                </a>
                                <div class="chosen-drop">
                                    <div class="chosen-search">
                                        <input type="text" autocomplete="off" readonly="">
                                    </div>
                                    <ul class="chosen-results">
                                        <li class="active-result" [ngClass]="{'result-selected': choosenOrder === 'Newest Listings'}" (click)="orderHotels($event)">Newest Listings</li>
                                        <li class="active-result" [ngClass]="{'result-selected': choosenOrder === 'Oldest Listings'}" (click)="orderHotels($event)">Oldest Listings</li>
                                        <li class="active-result" [ngClass]="{'result-selected': choosenOrder === 'Highest Rated'}" (click)="orderHotels($event)">Highest Rated</li>
                                        <li class="active-result" [ngClass]="{'result-selected': choosenOrder === 'Most Reviewed'}" (click)="orderHotels($event)">Most Reviewed</li>
                                        <li class="active-result" [ngClass]="{'result-selected': choosenOrder === 'Highest Price'}" (click)="orderHotels($event)">Highest Price</li>
                                        <li class="active-result" [ngClass]="{'result-selected': choosenOrder === 'Lowest Price'}" (click)="orderHotels($event)">Lowest Price</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="listingList && pagedHotels?.length > 0">
                <div class="col-lg-12 col-md-12" *ngFor="let hotel of pagedHotels">
                    <div class="listing-item-container list-layout">
                        <a [routerLink]="['/hotels', hotel.id]" class="listing-item">
                            <div class="listing-item-image">
                                <img *ngIf="hotel.photo !== 'null'; else defaultPhoto" src="assets/images/hotels/{{hotel.photo}}" alt="">
                                <ng-template #defaultPhoto>
                                    <img src="assets/images/listing-item-01.jpg" alt="">
                                </ng-template>
                            </div>
                            <div class="listing-item-content">
                                <div class="listing-item-inner">
                                    <h3>{{hotel.name}}
                                        <i class="verified-icon"></i>
                                    </h3>
                                    <span>{{hotel.adresse}}, {{hotel.ville_name}}</span>
                                    <div class="star-rating">
                                        <div class="rating-counter">
                                            ({{hotel.number_reviews}} reviews)
                                        </div>
                                        <span class="stars alignright">
                                            <span [ngStyle]="getStars(hotel.rating)"></span>
                                        </span>
                                    </div>
                                </div>
                                <span class="like-icon"></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="listingGrid && pagedHotels?.length > 0">
                <div class="col-lg-6 col-md-12" *ngFor="let hotel of pagedHotels">
                    <a href="listings-single-page.html" class="listing-item-container compact">
                        <div class="listing-item">
                            <img *ngIf="hotel.photo !== 'null'; else defaultPhoto" src="assets/images/hotels/{{hotel.photo}}" alt="">
                            <ng-template #defaultPhoto>
                                <img src="assets/images/listing-item-01.jpg" alt="">
                            </ng-template>
                            <div class="listing-item-content">
                                <div class="numerical-rating" attr.data-rating="{{hotel.rating | number : '1.2-2'}}" [ngClass]="{
                                        'low':hotel.rating < 3,
                                        'mid':hotel.rating >= 3 && hotel.rating < 4,
                                        'high':hotel.rating >= 4 && hotel.rating <= 5
                                      }"></div>
                                <h3>{{hotel.name}}
                                    <i class="verified-icon"></i>
                                </h3>
                                <span>{{hotel.adresse}}, {{hotel.ville_name}}</span>
                            </div>
                            <span class="like-icon"></span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row" *ngIf="pagedHotels?.length > 0">
                <div class="col-md-12">
                    <div class="pagination-container margin-top-20 margin-bottom-40">
                        <nav class="pagination">
                            <ul *ngIf="pager.pages && pager.pages.length">
                                <li [ngClass]="{disabled:pager.currentPage === 1}">
                                    <a (click)="setPage(1)">First</a>
                                </li>
                                <li [ngClass]="{disabled:pager.currentPage === 1}">
                                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                                </li>
                                <li *ngFor="let page of pager.pages" [ngClass]="{'current-page':pager.currentPage === page}">
                                    <a (click)="setPage(page)" [ngClass]="{'current-page':pager.currentPage === page}">{{page}}</a>
                                </li>
                                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                                </li>
                                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                    <a (click)="setPage(pager.totalPages)">Last</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-8 padding-right-30" *ngIf="pagedHotels?.length == 0">
            <div class="notification error">
                <p>
                    <span>Error!</span> We're sorry, but the hotel you were looking for doesn't exist.
                </p>
            </div>
        </div>
        <div class="col-lg-3 col-md-4">
            <div class="sidebar">
                <div class="widget margin-bottom-40">
                    <h3 class="margin-top-0 margin-bottom-30">Filters</h3>
                    <div class="row with-forms">
                        <div class="col-md-12">
                            <div class="input-with-icon location">
                                <input type="text" placeholder="City" [(ngModel)]="city" />
                                <a href="#">
                                    <i class="fa fa-dot-circle-o"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="range-slider">
                        <input class="distance-radius" type="range" min="0" max="5000" step="100" value="0" data-title="Radius around current destination">
                    </div>
                    <a href="#" class="more-search-options-trigger margin-bottom-5 margin-top-20" data-open-title="More Filters" data-close-title="More Filters"></a>
                    <div class="more-search-options relative">
                        <div class="checkboxes one-in-row margin-bottom-15">
                            <div *ngFor="let privilege of privileges; let i = index">
                                <input id="check-{{i}}" type="checkbox" name="check" value="{{privilege.id}}" class="privilege">
                                <label for="check-{{i}}">{{privilege.name}}</label>
                            </div>
                        </div>
                    </div>
                    <button class="button fullwidth margin-top-25" (click)="doFilter()">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
