<header id="header-container">
    <div id="header">
        <div class="container">
            <div class="left-side">
                <div id="logo">
                    <a href="index-2.html">
                        <img src="assets/images/logo.png" alt="">
                    </a>
                </div>
                <div class="mmenu-trigger">
                    <button class="hamburger hamburger--collapse" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
                <nav id="navigation" class="style-1">
                    <ul id="responsive">
                        <li>
                            <a [routerLink]="['home']" [routerLinkActive]="['current']">Home</a>
                        </li>
                        <li>
                            <a [routerLink]="['a']" [routerLinkActive]="['current']">Restaurants</a>
                        </li>
                        <li>
                            <a [routerLink]="['a']" [routerLinkActive]="['current']">Hotels</a>
                        </li>
                        <li>
                            <a [routerLink]="['a']" [routerLinkActive]="['current']">Articles</a>
                        </li>
                        <li>
                            <a [routerLink]="['a']" [routerLinkActive]="['current']">Contact US</a>
                        </li>
                    </ul>
                </nav>
                <div class="clearfix"></div>
            </div>
            <div class="right-side">
                <div class="header-widget">
                    <a href="#sign-in-dialog" class="sign-in popup-with-zoom-anim">
                        <i class="sl sl-icon-login"></i> Sign In</a>
                    <a href="" class="button border with-icon">Add Listing
                        <i class="sl sl-icon-plus"></i>
                    </a>
                </div>
            </div>
            <div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
                <div class="small-dialog-header">
                    <h3>Sign In</h3>
                </div>
                <div class="sign-in-form style-1">
                    <ul class="tabs-nav">
                        <li class="">
                            <a href="#tab1">Log In</a>
                        </li>
                        <li>
                            <a href="#tab2">Register</a>
                        </li>
                    </ul>
                    <div class="tabs-container alt">
                        <div class="tab-content" id="tab1" style="display: none;">
                            <form method="post" class="login" [formGroup]="loginForm" (ngSubmit)="checkAuth()">
                                <p class="error" *ngIf="loginUnsuccess">The credentials that you've entered are incorrect.</p>
                                <p class="form-row form-row-wide">
                                    <label>Email:
                                        <i class="im im-icon-Male"></i>
                                        <input type="text" class="input-text" name="username" value="" formControlName="loginEmail" />
                                    </label>
                                </p>
                                <p class="form-row form-row-wide">
                                    <label>Password:
                                        <i class="im im-icon-Lock-2"></i>
                                        <input class="input-text" type="password" name="password" formControlName="loginPassword" />
                                    </label>
                                    <span class="lost_password">
                                        <a href="#">Lost Your Password?</a>
                                    </span>
                                </p>
                                <div class="form-row">
                                    <input type="submit" class="button border margin-top-5" name="login" value="Login" />
                                    <div class="checkboxes margin-top-10">
                                        <input type="checkbox" name="check">
                                        <label>Remember Me</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-content" id="tab2" style="display: none;">
                            <!--<form method="post" class="register">
                                <p class="form-row form-row-wide">
                                    <label for="username2">Username:
                                        <i class="im im-icon-Male"></i>
                                        <input type="text" class="input-text" name="username" id="username2" value="" />
                                    </label>
                                </p>
                                <p class="form-row form-row-wide">
                                    <label for="email2">Email Address:
                                        <i class="im im-icon-Mail"></i>
                                        <input type="text" class="input-text" name="email" id="email2" value="" />
                                    </label>
                                </p>
                                <p class="form-row form-row-wide">
                                    <label for="password1">Password:
                                        <i class="im im-icon-Lock-2"></i>
                                        <input class="input-text" type="password" name="password1" id="password1" />
                                    </label>
                                </p>
                                <p class="form-row form-row-wide">
                                    <label for="password2">Repeat Password:
                                        <i class="im im-icon-Lock-2"></i>
                                        <input class="input-text" type="password" name="password2" id="password2" />
                                    </label>
                                </p>
                                <input type="submit" class="button border fw margin-top-10" name="register" value="Register" />
                            </form>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
