<header id="header-container">
    <div id="header">
        <div class="container">
            <div class="left-side">
                <div id="logo">
                    <a>
                        <img src="assets/images/logo.png" alt="">
                    </a>
                </div>
                <div class="mmenu-trigger">
                    <button class="hamburger hamburger--collapse" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
                <nav id="navigation" class="style-1">
                    <ul id="responsive">
                        <li>
                            <a [routerLink]="['home']" [routerLinkActive]="['current']">Home</a>
                        </li>
                        <li>
                            <a [routerLink]="['restaurants']" [routerLinkActive]="['current']">Restaurants</a>
                        </li>
                        <li>
                            <a [routerLink]="['hotels']" [routerLinkActive]="['current']">Hotels</a>
                        </li>
                        <li>
                            <a [routerLink]="['articles']" [routerLinkActive]="['current']">Articles</a>
                        </li>
                        <li>
                            <a [routerLink]="['contact']" [routerLinkActive]="['current']">Contact US</a>
                        </li>
                    </ul>
                </nav>
                <div class="clearfix"></div>
            </div>
            <div class="right-side">
                <div class="header-widget">
                    <a href="#sign-in-dialog" class="sign-in popup-with-zoom-anim" *ngIf="!isLoggedIn else connected">
                        <i class="sl sl-icon-login"></i> Sign In
                    </a>
                    <ng-template #connected>
                        <div class="user-menu">
                            <div class="user-name">
                                <span>
                                    <img *ngIf="userInformation.type != 'listeo'" src="{{userInformation.photo}}" alt="">
                                    <img *ngIf="userInformation.type == 'listeo'" src="assets/images/users/{{userInformation.photo}}" alt="">
                                </span>
                                My Account
                            </div>
                            <ul>
                                <li>
                                    <a (click)="signInWithGoogle()">
                                        <i class="sl sl-icon-settings"></i> Dashboard</a>
                                </li>
                                <li>
                                    <a [routerLink]="['profile/messages']">
                                        <i class="sl sl-icon-envelope-open"></i> Messages</a>
                                </li>
                                <li>
                                    <a [routerLink]="['profile/bookmarks']">
                                        <i class="fa fa-bookmark-o"></i> Bookmarks</a>
                                </li>
                                <li>
                                    <a (click)="logout()">
                                        <i class="sl sl-icon-power"></i> Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </ng-template>
                    <a href="" class="button border with-icon">Add Listing
                        <i class="sl sl-icon-plus"></i>
                    </a>
                </div>
            </div>
            <div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
                <div class="small-dialog-header">
                    <h3>Sign In</h3>
                </div>
                <div class="sign-in-form style-1">
                    <ul class="tabs-nav">
                        <li class="">
                            <a href="#tab1">Log In</a>
                        </li>
                        <li>
                            <a href="#tab2">Register</a>
                        </li>
                    </ul>
                    <div class="tabs-container alt">
                        <div class="tab-content" id="tab1" style="display: none;">
                            <form method="post" class="login" [formGroup]="loginForm" (ngSubmit)="checkLoginCredentials()">
                                <p class="error" *ngIf="loginUnsuccess">The credentials that you've entered are incorrect.</p>
                                <span *ngIf="isSuccess" class="error">Email already exists.</span>
                                <span class="error" *ngIf="loginEmail.invalid && !!loginEmail.errors.required && (loginEmail.dirty || loginEmail.touched)">Email is required.</span>
                                <span class="error" *ngIf="loginEmail.invalid && !!loginEmail.errors.pattern && (loginEmail.dirty || loginEmail.touched)">Invalid email.</span>
                                <p class="form-row form-row-wide">
                                    <label>Email:
                                        <i class="im im-icon-Male"></i>
                                        <input type="text" class="input-text" name="username" value="" formControlName="loginEmail" />
                                    </label>
                                </p>
                                <p class="form-row form-row-wide">
                                    <label>Password:
                                        <i class="im im-icon-Lock-2"></i>
                                        <input class="input-text" type="password" name="password" formControlName="loginPassword" />
                                    </label>
                                    <span class="lost_password">
                                        <a href="#">Lost Your Password?</a>
                                    </span>
                                </p>
                                <div class="form-row">
                                    <input type="submit" class="button border margin-top-5" name="login" value="Login" />
                                </div>
                                <h5><span>or</span></h5>
                                <div class="form-row oauth">
                                    <button (click)="signInWithFB()" class="loginBtn loginBtn--facebook">
                                        Login with Facebook
                                    </button>
                                </div>
                                <div class="form-row oauth">
                                    <button (click)="signInWithGoogle()" class="loginBtn loginBtn--google">
                                        Login with Google
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="tab-content" id="tab2" style="display: none;">
                            <form method="post" class="register" [formGroup]="registerForm" (ngSubmit)=" registerWithForm($event)">
                                <span class="error" *ngIf="registerFirstName.invalid && !!registerFirstName.errors.required && (registerFirstName.dirty || registerFirstName.touched)">First name is required.</span>
                                <span class="error" *ngIf="registerFirstName.invalid && !!registerFirstName.errors.pattern && (registerFirstName.dirty || registerFirstName.touched)">Invalid first name.</span>
                                <span *ngIf="isSuccess" class="error">Email already exists.</span>
                                <p class="form-row form-row-wide">
                                    <label>First Name:
                                        <i class="im im-icon-Male"></i>
                                        <input type="text" class="input-text" name="username" formControlName="registerFirstName" [ngClass]="{ 'has-success': registerFirstName.valid
                                        && (registerFirstName.dirty || registerFirstName.touched),'has-danger': registerFirstName.invalid
                                        && (registerFirstName.dirty || registerFirstName.touched)}" />
                                    </label>
                                </p>
                                <span class="error" *ngIf="registerLastName.invalid && !!registerLastName.errors.required && (registerLastName.dirty || registerLastName.touched)">Last name is required.</span>
                                <span class="error" *ngIf="registerLastName.invalid && !!registerLastName.errors.pattern && (registerLastName.dirty || registerLastName.touched)">Invalid last name.</span>
                                <p class="form-row form-row-wide">
                                    <label>Last Name:
                                        <i class="im im-icon-Male"></i>
                                        <input type="text" class="input-text" name="email" formControlName="registerLastName" [ngClass]="{ 'has-success': registerLastName.valid
                                        && (registerLastName.dirty || registerLastName.touched),'has-danger': registerLastName.invalid
                                        && (registerLastName.dirty || registerLastName.touched)}" />
                                    </label>
                                </p>
                                <span class="error" *ngIf="registerEmail.invalid && !!registerEmail.errors.required && (registerEmail.dirty || registerEmail.touched)">Email is required.</span>
                                <span class="error" *ngIf="registerEmail.invalid && !!registerEmail.errors.pattern && (registerEmail.dirty || registerEmail.touched)">Invalid email.</span>
                                <p class="form-row form-row-wide">
                                    <label>Email:
                                        <i class="im im-icon-Mail"></i>
                                        <input type="text" class="input-text" name="email" formControlName="registerEmail" [ngClass]="{ 'has-success': registerEmail.valid
                                        && (registerEmail.dirty || registerEmail.touched),'has-danger': registerEmail.invalid
                                        && (registerEmail.dirty || registerEmail.touched)}" />
                                    </label>
                                </p>
                                <span class="error" *ngIf="registerPassword.invalid && !!registerPassword.errors.required && (registerPassword.dirty || registerPassword.touched)">Password is required.</span>
                                <span class="error" *ngIf="registerPassword.invalid && !!registerPassword.errors.pattern && (registerPassword.dirty || registerPassword.touched)">Invalid password.</span>
                                <p class="form-row form-row-wide">
                                    <label>Password:
                                        <i class="im im-icon-Lock-2"></i>
                                        <input class="input-text" type="password" name="password1" formControlName="registerPassword" [ngClass]="{ 'has-success': registerPassword.valid
                                        && (registerPassword.dirty || registerPassword.touched),'has-danger': registerPassword.invalid
                                        && (registerPassword.dirty || registerPassword.touched)}" />
                                    </label>
                                </p>
                                <span class="error" *ngIf="registerRepeatPassword.invalid && !!registerRepeatPassword.errors.required && (registerRepeatPassword.dirty || registerRepeatPassword.touched)">Password confirmation is required.</span>
                                <span class="error" *ngIf="passwordMismatch">Password confirmation should match the password above.</span>
                                <p class="form-row form-row-wide">
                                    <label for="password2">Repeat Password:
                                        <i class="im im-icon-Lock-2"></i>
                                        <input class="input-text" type="password" name="password2" formControlName="registerRepeatPassword" />
                                    </label>
                                </p>
                                <p class="form-row form-row-wide">
                                    <label for="password2">Ville:
                                        <select data-placeholder="Select Ville" class="chosen-select" formControlName="registerVille" #registerVille>
                                            <option *ngFor="let country of countries" value="{{country.id}}">{{country.name}}</option>
                                        </select>
                                    </label>
                                </p>
                                <input type="submit" class="button border fw margin-top-10" name="register" value="Register" />
                                <h5><span>or</span></h5>
                                <div class="form-row oauth">
                                    <button (click)="signInWithFB()" class="loginBtn loginBtn--facebook">
                                        Sign up with Facebook
                                    </button>
                                </div>
                                <div class="form-row oauth">
                                    <button (click)="signInWithGoogle()" class="loginBtn loginBtn--google">
                                        Sign up with Google
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>