<button onclick="scriptCall()" id="scriptCall" style="display: none"></button>
<div class="dashboard-content">
    <div id="titlebar" #target>
        <div class="row">
            <div class="col-md-12">
                <h2>Bookmarks</h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                        <li>Bookmarks</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="dashboard-list-box margin-top-0">
                <h4 *ngIf="!notFound">Bookmarked Listings</h4>
                <h4 *ngIf="notFound" class="not-found">You don't bookmarks any item.</h4>
                <ul *ngIf="!notFound">
                    <li *ngFor="let item of pagedItems">
                        <div class="list-box-listing">
                            <div class="list-box-listing-img">
                                <a *ngIf="item.type == 'restaurant'" href="#">
                                    <img src="assets/images/restaurants/{{item.photo}}" alt="">
                                </a>
                                <a *ngIf="item.type == 'hotel'" href="#">
                                    <img src="assets/images/hotels/{{item.photo}}" alt="">
                                </a>
                            </div>
                            <div class="list-box-listing-content">
                                <div class="inner">
                                    <h3>{{item.name}}</h3>
                                    <span>{{item.adresse}}, {{item.ville}}</span>
                                    <div class="star-rating">
                                        <div class="rating-counter">
                                            ({{item.number_reviews}} reviews)
                                        </div>
                                        <span class="stars alignright">
                                            <span [ngStyle]="getStars(item.rating)"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="buttons-to-right">
                            <a (click)="removeBookmark(item.id)" class="button gray">
                                <i class="sl sl-icon-close"></i> Delete
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="pagination-container margin-top-30 margin-bottom-0">
            <nav class="pagination">
                <ul *ngIf="pager.pages && pager.pages.length">
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(1, target)">First</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(pager.currentPage - 1, target)">Previous</a>
                    </li>
                    <li *ngFor="let page of pager.pages" [ngClass]="{'current-page':pager.currentPage === page}">
                        <a (click)="setPage(page, target)" [ngClass]="{'current-page':pager.currentPage === page}">{{page}}</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.currentPage + 1, target)">Next</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.totalPages, target)">Last</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-12">
            <div class="copyrights">© 2017 Listeo. All Rights Reserved.</div>
        </div>
    </div>
</div>
