<button onclick="scriptCall()" id="scriptCall" style="display: none"></button>
<button onclick="directionsMap()" id="loadMap" style="display: none"></button>
<div class="container">
    <div class="row sticky-wrapper">
        <div class="col-lg-8 col-md-8 padding-right-30">
            <!-- Titlebar -->
            <div id="titlebar" class="listing-titlebar">
                <div class="listing-titlebar-title">
                    <h2>{{restaurant?.name}}
                        <span class="listing-tag">{{restaurant?.category}}</span>
                    </h2>
                    <span>
                        <a href="#listing-location" class="listing-address">
                            <i class="fa fa-map-marker"></i>
                            {{restaurant?.adresse}}, {{restaurant?.ville}}
                        </a>
                    </span>
                    <div class="star-rating">
                            <div class="rating-counter">
                                ({{restaurant?.number_reviews}} reviews)
                            </div>
                            <span class="stars alignright">
                                <span [ngStyle]="getStars(restaurant?.rating)"></span>
                            </span>
                        </div>
                </div>
            </div>
        </div>
        <div id="listing-location" class="listing-section">
            <div id="singleListingMap-container">
                <div id="singleListingMap" [attr.data-latitude]="restaurant?.latitude" [attr.data-longitude]="restaurant?.longitude" data-map-icon="im im-icon-Hamburger"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="style-1">
                <ul class="tabs-nav">
                    <li class="active walking">
                        <a href="#tab1b">
                            <i class="im im-icon-Footprint-3"></i> Walking</a>
                    </li>
                    <li class="driving">
                        <a href="#tab2b">
                            <i class="im im-icon-Car-2"></i> Driving</a>
                    </li>
                </ul>
                <div class="tabs-container">
                    <div class="tab-content" id="tab1b"></div>
                    <div class="tab-content" id="tab2b"></div>
                </div>
            </div>
        </div>
    </div>
</div>
