<button onclick="scriptCall()" id="scriptCall" style="display: none"></button>
<div id="titlebar" class="gradient">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Blog</h2>
                <span>Latest News</span>
                <nav id="breadcrumbs">
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>Blog</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="blog-page">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="blog-post single-post">
                    <img class="post-img" src="assets/images/articles/{{article?.photo}}" alt="">
                    <div class="post-content">
                        <h3>{{article?.titre}}</h3>
                        <ul class="post-meta">
                            <li>{{article?.inserted | date:'longDate'}}</li>
                            <li>
                                <a href="#" *ngFor="let tag of article?.tags; let isLast = last">{{tag}}{{isLast ? '' : ', '}}</a>
                            </li>
                            <li>
                                <a href="#">{{article?.number_comments}} Comments</a>
                            </li>
                        </ul>
                        <p [innerHTML]="article?.texte"></p>
                        <ul class="share-buttons margin-top-40 margin-bottom-0">
                            <li>
                                <a class="fb-share" shareButton="facebook">
                                    <i class="fa fa-facebook"></i> Share
                                </a>
                            </li>
                            <li>
                                <a class="twitter-share" shareButton="twitter">
                                    <i class="fa fa-twitter"></i> Tweet
                                </a>
                            </li>
                            <li>
                                <a class="gplus-share" shareButton="google">
                                    <i class="fa fa-google-plus"></i> Share
                                </a>
                            </li>
                            <li>
                                <a class="pinterest-share" shareButton="pinterest">
                                    <i class="fa fa-pinterest-p"></i> Pin
                                </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <ul id="posts-nav" class="margin-top-0 margin-bottom-45">
                    <li class="next-post" *ngIf="article?.next_id != 'null'">
                        <a *ngIf="article">
                            <span>Next Post</span>
                            {{article?.next_name}}
                        </a>
                    </li>
                    <li class="prev-post" *ngIf="article?.previous_id != 'null'">
                        <a *ngIf="article">
                            <span>Previous Post</span>
                            {{article?.previous_name}}
                        </a>
                    </li>
                </ul>
                <div class="about-author">
                    <img *ngIf="article?.user_photo !== null; else defaultPhoto" src="assets/images/users/{{article?.user_photo}}" alt="">
                    <ng-template #defaultPhoto>
                        <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="" />
                    </ng-template>
                    <div class="about-description" [ngClass]="{'activities-null': article?.activities == null}">
                        <h4>{{article?.user_name}}</h4>
                        <a href="#">
                            <span class="__cf_email__" data-cfemail="a4d0cbc9e4c1dcc5c9d4c8c18ac7cbc9">{{article?.email}}</span>
                        </a>
                        <p>{{article?.activities}}</p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <h4 *ngIf="article?.related_posts" class="headline margin-top-25">Related Posts</h4>
                <div class="row" *ngIf="article?.related_posts">
                    <div class="col-md-6" *ngFor="let relatedPost of article?.related_posts">
                        <a href="#" class="blog-compact-item-container">
                            <div class="blog-compact-item">
                                <img src="assets/images/articles/{{relatedPost[2]}}" alt="">
                                <span class="blog-item-tag">{{relatedPost[4]}}</span>
                                <div class="blog-compact-item-content">
                                    <ul class="blog-post-tags">
                                        <li>{{relatedPost[3] | date:'longDate'}}</li>
                                    </ul>
                                    <h3>{{relatedPost[1]}}</h3>
                                    <p [innerHTML]="(relatedPost[5] | slice:0:150) +'...'"></p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="margin-top-50"></div>
                <section class="comments">
                    <h4 class="headline margin-bottom-35">Comments
                        <span class="comments-amount" #target>({{article?.number_comments}})</span>
                    </h4>
                    <ul *ngIf="article.comments; else noCommentsFound">
                        <li *ngFor="let comment of pagedComments">
                            <div class="avatar">
                                <img *ngIf="comment[3] !== null; else defaultPhoto" src="assets/images/users/{{comment[3]}}" alt="">
                                <ng-template #defaultPhoto>
                                    <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="" />
                                </ng-template>
                            </div>
                            <div class="comment-content">
                                <div class="arrow-comment"></div>
                                <div class="comment-by">{{comment[2]}}
                                    <span class="date">{{comment[4]}}</span>
                                    <a href="#" class="reply">
                                        <i class="fa fa-reply"></i> Reply</a>
                                </div>
                                <p>{{comment[1]}}</p>
                            </div>
                            <ul *ngFor="let reply of comment[5]">
                                <li>
                                    <div class="avatar">
                                        <img *ngIf="reply[3] !== null; else defaultPhoto" src="assets/images/users/{{reply[3]}}" alt="">
                                        <ng-template #defaultPhoto>
                                            <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="" />
                                        </ng-template>
                                    </div>
                                    <div class="comment-content">
                                        <div class="arrow-comment"></div>
                                        <div class="comment-by">{{reply[2]}}
                                            <span class="date">{{reply[1] | date:'longDate'}}</span>
                                            <a href="#" class="reply">
                                                <i class="fa fa-reply"></i> Reply</a>
                                        </div>
                                        <p>{{reply[0]}}</p>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ng-template #noCommentsFound>
                        <span class="no-data" *ngIf="isLoggedIn">Be the first to comment ...</span>
                    </ng-template>
                </section>
                <div class="clearfix"></div>
                <div class="row" *ngIf="article?.comments">
                    <div class="col-md-12">
                        <div class="pagination-container margin-top-30">
                            <nav class="pagination">
                                <ul *ngIf="pager.pages && pager.pages.length">
                                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                                        <a (click)="setPage(1)">First</a>
                                    </li>
                                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                                        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                                    </li>
                                    <li *ngFor="let page of pager.pages" [ngClass]="{'current-page':pager.currentPage === page}">
                                        <a (click)="setPage(page)" [ngClass]="{'current-page':pager.currentPage === page}">{{page}}</a>
                                    </li>
                                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                        <a (click)="setPage(pager.currentPage + 1)">Next</a>
                                    </li>
                                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                        <a (click)="setPage(pager.totalPages)">Last</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div *ngIf="isLoggedIn" id="add-review" class="add-review-box" method="post">
                    <h3 class="listing-desc-headline margin-bottom-35">Add Review</h3>
                    <form id="add-comment" class="add-comment">
                        <fieldset>
                            <div>
                                <label>Comment:</label>
                                <textarea cols="40" rows="3" #commentTexte></textarea>
                            </div>
                        </fieldset>
                        <button class="button" (click)="addArticleComment(target)">Submit Comment</button>
                        <div class="clearfix"></div>
                    </form>
                    <span class="error" *ngIf="!isSuccess">*You should fill the text field.</span>
                </div>
            </div>
        </div>
    </div>
</div>
