.post-img{
    max-height: 500px;
}

.error{
    color: red;
    font-size: 15px;
}

.activities-null{
    padding-bottom: 60px
}

.no-data{
    color: red;
    font-size: 14px;
    font-weight: 600;
}

.share-buttons{
    cursor: pointer;
}
