<button onclick="scriptCall()" id="scriptCall" style="display: none"></button>
<div id="titlebar" class="gradient">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Blog</h2>
                <span>Latest News</span>
                <nav id="breadcrumbs">
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>Blog</li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="blog-page">
        <div class="row">
            <div class="col-lg-9 col-md-8 padding-right-30" *ngIf="pagedArticles?.length > 0">
                <div class="blog-post" *ngFor="let article of pagedArticles">
                    <a [routerLink]="['/articles', article.id]" class="post-img">
                        <img src="assets/images/articles/{{article.photo}}" alt="">
                    </a>
                    <div class="post-content">
                        <h3>
                            <a [routerLink]="['/articles', article.id]">{{article.titre}}</a>
                        </h3>
                        <ul class="post-meta">
                            <li>{{article.inserted | date:'longDate'}}</li>
                            <li>
                                <a href="#" *ngFor="let tag of article.tags; let isLast = last">{{tag}}{{isLast ? '' : ', '}}</a>
                            </li>
                            <li>
                                <a href="#">{{article.nombre_comments}} Comments</a>
                            </li>
                        </ul>
                        <p [innerHTML]="(article.texte | slice:0:250) +'...'"></p>
                        <a [routerLink]="['/articles', article.id]" class="read-more">Read More
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="pagination-container margin-bottom-40">
                            <nav class="pagination">
                                <ul *ngIf="pager.pages && pager.pages.length">
                                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                                        <a (click)="setPage(1)">First</a>
                                    </li>
                                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                                        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                                    </li>
                                    <li *ngFor="let page of pager.pages" [ngClass]="{'current-page':pager.currentPage === page}">
                                        <a (click)="setPage(page)" [ngClass]="{'current-page':pager.currentPage === page}">{{page}}</a>
                                    </li>
                                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                        <a (click)="setPage(pager.currentPage + 1)">Next</a>
                                    </li>
                                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                        <a (click)="setPage(pager.totalPages)">Last</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 padding-right-30" *ngIf="pagedArticles?.length == 0">
                <div class="notification error">
                    <p>
                        <span>Error!</span> We're sorry, but the article you were looking for doesn't exist.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="sidebar right">
                    <div class="widget">
                        <h3 class="margin-top-0 margin-bottom-25">Search Blog</h3>
                        <span class="error" *ngIf="requiredField">Search term is required.</span>
                        <div class="search-blog-input">
                            <div class="input">
                                <form [formGroup]="articleSearchForm" novalidate (ngSubmit)="searchForArticle()">
                                    <input class="search-field" type="text" placeholder="Type and hit enter" formControlName="term" />
                                    <button class="button margin-top-15" type="submit">Search</button>
                                </form>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget margin-top-40">
                        <h3>Got any questions?</h3>
                        <div class="info-box margin-bottom-10">
                            <p>Having any questions? Feel free to ask!</p>
                            <a href="pages-contact.html" class="button fullwidth margin-top-20">
                                <i class="fa fa-envelope-o"></i> Drop Us a Line</a>
                        </div>
                    </div>
                    <div class="widget margin-top-40">
                        <h3>Popular Posts</h3>
                        <ul class="widget-tabs">
                            <li *ngFor="let article of popularArticles">
                                <div class="widget-content">
                                    <div class="widget-thumb">
                                        <a [routerLink]="['/articles', article.id]">
                                            <img src="assets/images/blog-widget-03.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="widget-text">
                                        <h5>
                                            <a [routerLink]="['/articles', article.id]">{{article.titre}} </a>
                                        </h5>
                                        <span>{{article.inserted | date:'longDate'}}</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="widget margin-top-40">
                        <h3 class="margin-bottom-25">Social</h3>
                        <ul class="social-icons rounded">
                            <li>
                                <a class="facebook" href="#">
                                    <i class="icon-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a class="twitter" href="#">
                                    <i class="icon-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a class="gplus" href="#">
                                    <i class="icon-gplus"></i>
                                </a>
                            </li>
                            <li>
                                <a class="linkedin" href="#">
                                    <i class="icon-linkedin"></i>
                                </a>
                            </li>
                        </ul>

                    </div>
                    <div class="clearfix"></div>
                    <div class="margin-bottom-40"></div>
                </div>
            </div>
        </div>
    </div>
</div>